
body{
    background-color:#fff;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
}

.span-bgcolor-ffffff7a{
    background-color: #ffffff7a;
    padding: 0px 3px 0px 2px;
}

#principal{
    height: 240px;
    width: 100%;
    _border: 1px solid red;
}

#menu1{
    height: 32px;
    background-color: #f1f1f1;
}

#menu2{
    height: 131px;
    padding: 13px 0 30px 0;
    background-color: #2fb0bb;
}

#menu3{
    height: 31px;
    background-color: #0a99a5;
}

#menu3 li a{

}

#container-titulo{
    width: 880px;
    margin: 0 auto;
}

#container-titulo h1{
    margin-top: 20px;
    width: 500px;
    color: #fff;
    margin-top: 30px;
    font-family: "open_sansextrabold", 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.55em;
}

#menu1 nav, #menu3 nav{
    width: 960px;
    margin: 0 auto;
    font-size: .80em;
    _font-weight: bold;
}

#menu1-lista1{
    float: left;
    margin: 0 10px 0 0;
}

#menu1-lista1 li{
    float: left;
    padding: 8px 15px 8px 13px;
    border-left: 2px solid #dfdfdf;
}

#menu1-lista2 li{
    float: right;
    padding: 8px 15px 8px 13px;
    border-left: 2px solid #dfdfdf;
}

#menu3-lista1 li{
    float: right;
    padding: 8px 15px 8px 13px;
    border-left: 1px solid #dfdfdf;
    _background-color: #03929e;
}

#header-section-menu2{
    height: 15px;
    _border: 1px solid red;
}

#header-section-menu2 nav{
    width: 960px;
    margin: 0 auto;
    font-size: .75em;
    font-weight: bold;
}

#menu2-lista2{
    float: right;
    border-bottom: 1px dotted #083e6b;
    height: 21px;
}

#menu2-lista1 li a{
    float: left;
    margin: 0 10px 0 0;
}

#menu2-lista2 li{
    float: right;
    margin: 0 0 0 10PX;
    text-transform: uppercase;
}

#menu2-lista1 a, #menu2-lista2 a, #menu1 a, #menu3-lista1 a{
    text-decoration: none;
    color: #061827;
    font-weight: bold;
}



nav{ }

aside{ }

section{ }

footer{ }