
body{
    background-color:#fff;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
}

.span-bgcolor-ffffff7a{
    background-color: #ffffff7a;
    padding: 0px 3px 0px 2px;
}

.text-align-center{ text-align: center }

#header{
    height: 240px;
    width: 100%;
    _border: 1px solid red;
}

#menu1{
    height: 32px;
    background-color: #f1f1f1;
}

#menu2{
    height: 131px;
    padding: 13px 0 30px 0;
    background-color: #2fb0bb;
}

#menu3{
    height: 31px;
    background-color: #0a99a5;
}

#menu3 li a{

}

#container-titulo{
    width: 880px;
    margin: 0 auto;
}

#container-titulo h1{
    margin-top: 20px;
    width: 500px;
    color: #fff;
    margin-top: 30px;
    font-family: "open_sansextrabold", 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.55em;
}

#menu1 nav, #menu3 nav{
    width: 960px;
    margin: 0 auto;
    font-size: .80em;
    _font-weight: bold;
}

#menu1-lista1{
    float: left;
    margin: 0 10px 0 0;
}

#menu1-lista1 li{
    float: left;
    padding: 8px 15px 8px 13px;
    border-left: 2px solid #dfdfdf;
}

#menu1-lista2 li{
    float: right;
    padding: 8px 15px 8px 13px;
    border-left: 2px solid #dfdfdf;
}

#menu3-lista1 li{
    float: right;
    padding: 8px 15px 8px 13px;
    border-left: 1px solid #dfdfdf;
    _background-color: #03929e;
}

#header-section-menu2{
    height: 15px;
    _border: 1px solid red;
}

#header-section-menu2 nav{
    width: 960px;
    margin: 0 auto;
    font-size: .75em;
    font-weight: bold;
}

#menu2-lista2{
    float: right;
    border-bottom: 1px dotted #083e6b;
    height: 21px;
}

#menu2-lista1 li a{
    float: left;
    margin: 0 10px 0 0;
}

#menu2-lista2 li{
    float: right;
    margin: 0 0 0 10PX;
    text-transform: uppercase;
}

#menu2-lista1 a, #menu2-lista2 a, #menu1 a, #menu3-lista1 a, #rodape1 ul li{
    text-decoration: none;
    color: #061827;
    font-weight: bold;
}

#footer{
    height: 250px;
    background-color: #2fb0bb;
}

footer ul{
    float:left;
    margin: 10px 0 10px 100px;
    border-left: 1px dotted;
}

#rodape1{
    width: 960px;
    margin: 0 auto;
    display: flex;
}

#rodape2{
    height: 100px;
    background-color: #0A99A5;
}

main{
    height: 600px;
    width: 960px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#banner{
    height: 130px;
    width: 750px;
    float: right;
}

#banner img{
    width: 100%;
    height: 100%;
}

#aside-menu-left{
    height: 100%;
    display: flex;
    float: left;
    width: 210px;
}

#aside-menu-left ul{

}

#conteudo{
    width: 745px;
    padding: 5px 0px 0px 5px;
    float: right;
    background-color: red;
}

#container{
    margin: 0 auto;
    width: 960px;
    height: 1500px;
}

#titulo-menu{
    width: 100%;
    display: inline-table;
}

main article{
    _border: 1px solid blue;
    display: table-row;
}

main article header{
    width: 100%
}

ul#news{}

ul#news li{
    list-style: square;
    margin: 10px;
}

div#scroll{
    overflow-y: scroll;
    height: 150px;
    border-bottom: 0.5px dotted;
    margin: 0 0 20px 0;
}

section#veja-mais{
    background-color: #2fb0bba1;
    display: block;
    padding: 1px 0 1px 0;
    margin-top: 10px;
    border-top: 5px solid #20b2aa;
}

section#veja-mais h3{
    text-align: right;
    margin-right: 20px;
}

section#veja-mais h3 a{
    text-decoration: none;
}

#categorias article{
    width: 238px;
    margin: 20px 5px auto;
    display: inline-block;
    float: left;
    text-align: center;
    border-top: 5px solid #20b2aa;
    _border-radius: 10px;
    min-height: 460px;
}

#categorias article header{
    margin: 10px 0 0 0;
    background-color: #d3d3d340;
    height: 40px;
    line-height: 25pt;
    border-bottom: 1px solid #20b2aa;
}

#categorias article figure{
    margin: 20px 0 0 auto;
}

#categorias article figure img{
    width: 230px;
    height: 100px;
}

#categorias article ul{
    _border: 1px solid;
    height: 234px;
    padding: 0;
}

#categorias article ul li{
    text-align: left;
    margin: 15px 0 0 0;
    border-top: 1px solid #20b2aa36;
    background-color: #8080800d;
    height: 40px;
    padding: 0;
    line-height: 2em;
    padding-left: 0px;
    width: 100%;
    padding-left: 5px;
}

.border-top-5px-blue{ border-top: 5px solid blue; }
.border-top-5px-red{ border-top: 5px solid red; }
.border-top-5px-brown{ border-top: 5px solid brown; }